{% extends "layout.jinja2" %}

{% block title %}
  data
{% endblock %}

{% block body_content %}
    <form>
        <div class="form-group">
            <label for="exampleFormControlFile1">Load fimplemntile</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </form>


{% endblock %}


{% block form_content %}
  <p> file </p>
{% endblock %}